{% extends "base.html" %}  {% load static %}
{% block content %}
<div class="page-header">
    <h1>Contribute </h1>
</div>
 
<div>
    <div class="article cta">
        <h2>Help Preserve Mongolian Langauge!</h2>
        <p>Your contributions help build a valuable dataset for learning and AI recognition.
           By drawing these letters, you are keeping the tradition alive and making it easier for others to learn.
           NomadScript exists only because of dedicated contributors like you, helping to preserve and share our 
           unique writing system with the world.
        </p>
        <button class="cta-button">Start Contributing!</button>
    </div>
    <div class="image-container">
        <img src="/media/web/tradtional-script.jpg" alt="'Mongolian script' written in traditional Mongolian" >
    </div>
</div>

{% endblock %}